
</div>
<div class=""></div>
  <div class="absolute center w-full h-[7vh] bottom-0 bg-[#282A3A] flex justify-center items-center">
    <p class="text-[14px] text-white">Made by Himanshu tripathi</p>
  </div>
</div>
</body>
</html>
